body {
  background: #ffffff;
  /* display: flex;
  flex-direction: column; */
}

/* .row:nth-child(even) {
  background-color: #E7E9EB;
} */


.container {
  width: 660px;
  height: 660px;
  display: grid;
  margin: auto;
  background: #E7E9EB;
  border: 1px solid #ddd;
}


.square {
  background: #fff;
  border: 1px solid #ddd;
}

button.reset {
  width: auto;
  padding: 10px;
  display: flex;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}