body {
  background: #ffffff;
  /* display: flex;
  flex-direction: column; */
}

button.make-square {
  margin: 30px auto;
  display: flex;
}


.container {
  width: 660px;
  height: 660px;
  display: grid;
  margin: auto;
  background: #E7E9EB;
  border: 1px solid #ddd;
}


.square {
  background: #fff;
  border: 1px solid #ddd;
}

button.reset {
  width: auto;
  padding: 10px;
  display: flex;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}


WHC
gethousevalues.ca						NO FILES of site


Nofrilss
https://condosofkelowna.ca/	 ----- no content .. not sure , it's beend like this for so long and, looking on archive it;something like a listing site				

1Dollar Hosting ---- Suspended



Bluehost
https://shopamazonpartners.concordguides.com/			 ---- error not wordpress site
https://zoomfastlinkdownloadandstartservicesonline.winterup.com/					---- error not wordpress site
https://thewineoutfitter.com/				---- error not wordpress site
https://land-rover-deals.vthomesdaily.com/				---- error not wordpress site


Fastycloud.com
Softaculus - Your license is not active or it has expired. If your license has expired, please renew it to continue using this Software.

